.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  text-transform: uppercase;
  z-index: 100;
}

.collapsible {
  width: 100%;
  border: none;
  padding: 18px;
  background-color: #777;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.active, .collapsible:hover {
  background-color: #555;
}

.active + .content {
  display: block;
}

.content {
  display: none;
  overflow: hidden;
  /* page height - total height of buttons - padding of this element */
  max-height: calc(100vh - (56px * 4) - 26px);
  overflow-y: auto;
  padding: 12px 18px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
  }
}
