.input-header {
  text-align: left;
  margin: 12px 0 4px;
}
.input-header:first-child {
  margin-top: 0;
}
.input-container {
  position: relative;
  margin-bottom: 4px;
  text-align: left;
}
.input-container > input {
  height: 14px;
  width: 48px;
  border-radius: 6px;
  border: 2px solid black;
  margin-right: 5px;
  text-align: right;
}

/* This code can add a nice 'X' button:

.input-container > button {
  position: absolute;
  top: 4px;
  right: 0;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100%;
  outline: none;
  background: transparent;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}
.input-container > button:hover {
  cursor: pointer;
} */
