body {
  overflow: scroll;
}
nav {
  max-height: 100vh;
  overflow-y: auto;
  text-transform: uppercase;
}
#world {
  position: relative;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.row {
  /* line-height creates spacing between rows */
  line-height: 0px;
}
.tile {
  display: inline-block;
  height: 200px;
  width: 200px;
}
.plant, .herbivore, .carnivore {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 9px;
}
.plant {
  background-color: #683f19;
  z-index: 1;
}
.herbivore {
  background-color: blue;
  z-index: 2;
}
.carnivore {
  background-color: red;
  z-index: 3;
}
#cycle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#spawn-herbivores {
  position: fixed;
  top: 40px;
  right: 20px;
  cursor: pointer;
}
#spawn-carnivores {
  position: fixed;
  top: 60px;
  right: 20px;
  cursor: pointer;
}
