#world {
  position: relative;
}
.row {
  /* line-height creates spacing between rows */
  line-height: 0px;
}
.tile {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.plant, .herbivore, .carnivore {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 9px;
}
.plant {
  height: 20px;
  width: 20px;
  line-height: 20px;
  background-color: brown;
}
.herbivore {
  height: 10px;
  width: 10px;
  line-height: 10px;
  background-color: blue;
}
.carnivore {
  background-color: deeppink;
}
#cycle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#spawn-herbivores {
  position: fixed;
  top: 40px;
  right: 20px;
  cursor: pointer;
}
