html, body {
  min-height: 100vh;
  min-width: 100%;
}

body {
  box-sizing: border-box;
  min-width: 768px;
  padding-top: 80px; /* making room for controls */
  padding-left: 240px; /* making room for menu */
  padding-right: 240px;
  font: 400 12px system-ui;
}
